In [42]:
# import package
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [20]:
# define age, gender, weight. create dataset.
age = np.random.randint(5,30,100)
gender_set = ['M','F']
gender = np.random.choice(gender_set,100,replace=True)
df01 = pd.DataFrame({'age':age,'gender':gender})

weight = 30 + age*1.5 + (gender == 'M')*15 + np.random.randn(100)

In [28]:
# get dummy variables
df01_dummies = pd.get_dummies(df01)
df01_dummies_drop = pd.get_dummies(df01,drop_first=True)

In [48]:
df01_dummies.head()

   age  gender_F  gender_M
0   20         0         1
1   15         1         0
2   28         1         0
3   22         1         0
4   28         1         0

In [49]:
df01_dummies_drop.head()

   age  gender_M
0   20         1
1   15         0
2   28         0
3   22         0
4   28         0

In [35]:
lr1 = LinearRegression()
lr1.fit(df01_dummies, weight)
print('variable: {}'.format(df01_dummies.columns))
print('Intercept:{}, params: {}'.format(lr1.intercept_, lr1.coef_))

variable: Index(['age', 'gender_F', 'gender_M'], dtype='object')
Intercept:37.55325505357138, params: [ 1.49142166 -7.46173457  7.46173457]

In [36]:
lr2 = LinearRegression()
lr2.fit(df01_dummies_drop, weight)
print('variable: {}'.format(df01_dummies_drop.columns))
print('Intercept:{}, params: {}'.format(lr2.intercept_, lr2.coef_))

variable: Index(['age', 'gender_M'], dtype='object')
Intercept:30.09152048202658, params: [ 1.49142166 14.92346914]

In [38]:
y_pred_dropN = lr1.predict(df01_dummies)
y_pred_dropY = lr2.predict(df01_dummies_drop)

In [46]:
# the max of diff
abs(y_pred_dropN - y_pred_dropY).max()

1.4210854715202004e-14

In [47]:
# the diff od MSE
mse_dropN = metrics.mean_squared_error(weight, y_pred_dropN)
mse_dropY = metrics.mean_squared_error(weight, y_pred_dropY)
print('Diff :{}'.format(mse_dropY - mse_dropN))

Diff :9.992007221626409e-16