In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# 1. Import Data

In [2]:
df_test = pd.read_csv(r'D:\Gallon\Project\07_E_SUN_2021_Winter_AI\data\需預測的顧客名單及提交檔案範例.csv')

In [6]:
df_test = df_test[:10000].reset_index(drop=True)
df_test

          chid  top1  top2  top3
0     10128239    18    10     6
1     10077943    48    22     6
2     10277876    22    10    39
3     10364842    37    19    13
4     10392717     2    36    26
...        ...   ...   ...   ...
9995  10203858    25    22    37
9996  10008113    22    48    15
9997  10053154    37    39    12
9998  10252782    26    18    12
9999  10361566    22    19    37

[10000 rows x 4 columns]

In [7]:
shop_tag_list = ['2', '6', '10', '12',
                '13', '15', '18', '19',
                '21', '22', '25', '26',
                '36', '37', '39', '48']

In [8]:
col_list = ['dt', 'chid', 'shop_tag', 'txn_cnt', 'txn_amt','masts',
            'educd', 'trdtp', 'naty', 'poscd', 'cuorg', 'slam',
            'gender_code', 'age', 'primary_card']

In [9]:
reader = pd.read_csv(r'D:\Gallon\Project\07_E_SUN_2021_Winter_AI\data\tbrain_cc_training_48tags_hash_final.csv',
                    error_bad_lines=False, # 會自動忽略錯誤row
                    # header=None, # 看資料有無欄位名稱
                    iterator=True,
                    # sep=',',
                    # usecols=col_list
                    )
loop = True
n = 0
chunksize = 10 ** 5
chunks = []
while loop:
    try:
        chunk = reader.get_chunk(chunksize)
        chunk = chunk[chunk.chid.isin(df_test.chid)]
        chunk = chunk[chunk.shop_tag.isin(shop_tag_list)]
        chunks.append(chunk)
        n += 1
    except StopIteration:
        loop = False
        print("Iteration is stopped.")
df = pd.concat(chunks,ignore_index=True)

Iteration is stopped.

In [10]:
n

330

# 2. Description

In [11]:
df

,dt,chid,shop_tag,txn_cnt,txn_amt,domestic_offline_cnt,domestic_online_cnt,overseas_offline_cnt,overseas_online_cnt,domestic_offline_amt_pct,...,masts,educd,trdtp,naty,poscd,cuorg,slam,gender_code,age,primary_card
0,1,10384918,10,1,1085.361456,0,0,0,1,0.00,...,2.0,3.0,15.0,1.0,99.0,30.0,38072.451849,0.0,3.0,1
1,1,10384918,48,4,8523.693513,0,0,0,4,0.00,...,2.0,3.0,15.0,1.0,99.0,30.0,38072.451849,0.0,3.0,1
2,1,10378106,2,2,2987.631549,2,0,0,0,1.00,...,2.0,5.0,5.0,1.0,99.0,30.0,48209.277501,1.0,3.0,1
3,1,10378106,12,2,8690.365708,1,1,0,0,0.25,...,2.0,5.0,5.0,1.0,99.0,30.0,48209.277501,1.0,3.0,1
4,1,10011300,2,3,4388.591772,3,0,0,0,1.00,...,1.0,2.0,13.0,1.0,3.0,30.0,112010.611717,1.0,4.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438940,24,10041911,2,7,14218.830280,7,0,0,0,1.00,...,1.0,4.0,5.0,1.0,2.0,30.0,96727.878252,0.0,4.0,1
438941,24,10041911,10,2,14646.184347,0,2,0,0,0.00,...,1.0,4.0,5.0,1.0,2.0,30.0,96727.878252,0.0,4.0,1
438942,24,10041911,21,1,6080.331558,1,0,0,0,1.00,...,1.0,4.0,5.0,1.0,2.0,30.0,96727.878252,0.0,4.0,1
438943,24,10041911,36,2,8019.906666,2,0,0,0,1.00,...,1.0,4.0,5.0,1.0,2.0,30.0,96727.878252,0.0,4.0,1
438944,24,10152710,37,3,6413.831145,3,0,0,0,1.00,...,2.0,6.0,15.0,1.0,99.0,30.0,161701.630344,0.0,2.0,0

In [15]:
# df.dtypes

In [14]:
# df.info(memory_usage="deep")

In [27]:
df.loc[:, ['masts', 'educd', 'trdtp', 'naty', 'poscd', 'cuorg', 'slam',
       'gender_code', 'age', 'primary_card']].describe()

,masts,educd,trdtp,naty,poscd,cuorg,slam,gender_code,age,primary_card
count,438945.000000,438945.000000,438937.000000,438945.000000,438945.000000,438945.000000,4.160080e+05,435000.000000,435000.000000,438945.000000
mean,1.536630,3.629603,10.463590,1.001809,35.588037,29.478039,1.626480e+106,0.421510,3.661257,0.916015
std,0.500253,1.222454,4.776676,0.042493,45.659770,3.253548,3.162991e+108,0.493802,1.184319,0.277366
min,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,2.139239e+04,0.000000,1.000000,0.000000
25%,1.000000,3.000000,6.000000,1.000000,2.000000,30.000000,6.092366e+04,0.000000,3.000000,1.000000
50%,2.000000,3.000000,11.000000,1.000000,3.000000,30.000000,7.929124e+04,0.000000,4.000000,1.000000
75%,2.000000,5.000000,15.000000,1.000000,99.000000,30.000000,1.023826e+05,1.000000,4.000000,1.000000
max,3.000000,6.000000,28.000000,2.000000,99.000000,35.000000,6.151170e+110,1.000000,8.000000,1.000000

1. df: 1~24，兩年資料。
2. chid: 需要預測的人數為50萬人(目前只取前1萬人)。
3. shop_tag: 需預測的類別為16種，平均每人在兩年內消費的種類為7.5種。
4. 每人每月有消費的類別，平均刷卡數2.75，平均消費大約9000。
5. 刷卡數主要以國內為主，國內刷卡數線下較高，國外刷卡數線上較高。刷卡金額的相對亦是如此。
6. 婚姻狀況: 1, 2, 3，根據個數與平均年齡，猜測1是已婚、2是未婚、3是未知
7. 年齡: 1~8級距
8. 性別: 0 ,1
9. 教育: 1~6級距，不確定定義
10. 行業別: 1~28
11. 國籍: 1本國、2外國
12. 職位別: 總數不確定，但99應該是未知的資料

In [23]:
df.head()

,dt,chid,shop_tag,txn_cnt,txn_amt,domestic_offline_cnt,domestic_online_cnt,overseas_offline_cnt,overseas_online_cnt,domestic_offline_amt_pct,...,masts,educd,trdtp,naty,poscd,cuorg,slam,gender_code,age,primary_card
0,1,10384918,10,1,1085.361456,0,0,0,1,0.00,...,2.0,3.0,15.0,1.0,99.0,30.0,38072.451849,0.0,3.0,1
1,1,10384918,48,4,8523.693513,0,0,0,4,0.00,...,2.0,3.0,15.0,1.0,99.0,30.0,38072.451849,0.0,3.0,1
2,1,10378106,2,2,2987.631549,2,0,0,0,1.00,...,2.0,5.0,5.0,1.0,99.0,30.0,48209.277501,1.0,3.0,1
3,1,10378106,12,2,8690.365708,1,1,0,0,0.25,...,2.0,5.0,5.0,1.0,99.0,30.0,48209.277501,1.0,3.0,1
4,1,10011300,2,3,4388.591772,3,0,0,0,1.00,...,1.0,2.0,13.0,1.0,3.0,30.0,112010.611717,1.0,4.0,1

In [32]:
# df.groupby(['chid'])['shop_tag'].nunique().reset_index(name='shop_tag_n')\
#     ['shop_tag_n'].mean()
# df.groupby(['masts']).agg({'age': ['count', 'mean']})
# df.groupby(['educd']).agg({'age': ['count', 'mean']})
# df.groupby(['naty']).agg({'age': ['count', 'mean']})
df.groupby(['poscd']).agg({'slam': ['count', 'mean']})

         slam
        count           mean
poscd
1.0     40447   3.289109e+12
2.0    142020  4.764320e+106
3.0     43744   1.377816e+05
4.0     12138   8.022306e+04
5.0      8798   6.586170e+04
6.0     12505   7.437234e+04
7.0      1867   7.972560e+04
8.0     14718   1.209315e+05
10.0       14   5.407843e+04
99.0   139757   5.124016e+23

In [26]:
df.columns

Index(['dt', 'chid', 'shop_tag', 'txn_cnt', 'txn_amt', 'domestic_offline_cnt',
       'domestic_online_cnt', 'overseas_offline_cnt', 'overseas_online_cnt',
       'domestic_offline_amt_pct', 'domestic_online_amt_pct',
       'overseas_offline_amt_pct', 'overseas_online_amt_pct', 'card_1_txn_cnt',
       'card_2_txn_cnt', 'card_3_txn_cnt', 'card_4_txn_cnt', 'card_5_txn_cnt',
       'card_6_txn_cnt', 'card_7_txn_cnt', 'card_8_txn_cnt', 'card_9_txn_cnt',
       'card_10_txn_cnt', 'card_11_txn_cnt', 'card_12_txn_cnt',
       'card_13_txn_cnt', 'card_14_txn_cnt', 'card_other_txn_cnt',
       'card_1_txn_amt_pct', 'card_2_txn_amt_pct', 'card_3_txn_amt_pct',
       'card_4_txn_amt_pct', 'card_5_txn_amt_pct', 'card_6_txn_amt_pct',
       'card_7_txn_amt_pct', 'card_8_txn_amt_pct', 'card_9_txn_amt_pct',
       'card_10_txn_amt_pct', 'card_11_txn_amt_pct', 'card_12_txn_amt_pct',
       'card_13_txn_amt_pct', 'card_14_txn_amt_pct', 'card_other_txn_amt_pct',
       'masts', 'educd', 'trdtp', 'naty', 'poscd', 'cuorg', 'slam',
       'gender_code', 'age', 'primary_card'],
      dtype='object')

In [20]:
df.query('txn_cnt < 0').loc[:, ['dt', 'chid', 'shop_tag', 'txn_cnt', 'txn_amt', 'domestic_offline_cnt',
       'domestic_online_cnt', 'overseas_offline_cnt', 'overseas_online_cnt',
       'domestic_offline_amt_pct', 'domestic_online_amt_pct',
       'overseas_offline_amt_pct', 'overseas_online_amt_pct']]

,dt,chid,shop_tag,txn_cnt,txn_amt,domestic_offline_cnt,domestic_online_cnt,overseas_offline_cnt,overseas_online_cnt,domestic_offline_amt_pct,domestic_online_amt_pct,overseas_offline_amt_pct,overseas_online_amt_pct
4264,1,10392715,10,-1,6744.851271,0,-1,0,0,0.00,1.00,0.0,0.00
10191,1,10125723,43,-1,4527.939194,0,-1,0,0,0.00,1.00,0.0,0.00
29411,1,10396737,10,-1,9122.393668,0,0,0,-1,0.00,0.00,0.0,1.00
34468,1,10081731,10,-1,13637.732657,0,-1,0,0,0.00,1.00,0.0,0.00
37386,1,10387012,38,-1,17671.903012,0,0,0,-1,0.00,0.00,0.0,1.00
58024,1,10168257,10,-1,4756.920887,0,-1,0,0,0.00,1.00,0.0,0.00
59845,1,10029101,19,-1,4340.999830,0,-1,0,0,0.00,1.00,0.0,0.00
67675,1,10141920,43,-1,19069.031277,0,-1,0,0,0.00,1.00,0.0,0.00
74708,1,10282172,10,-1,2963.791957,0,0,0,-1,0.00,0.00,0.0,1.00
87303,1,10120662,10,-1,8584.218259,0,0,0,-1,0.00,0.00,0.0,1.00
102937,1,10224195,10,-1,22685.728090,0,0,0,-1,0.00,0.00,0.0,1.00
107865,1,10055879,38,-1,16776.977720,0,0,0,-1,0.00,0.00,0.0,1.00
129806,1,10433545,48,-2,7382.464152,-3,1,0,0,0.16,0.84,0.0,0.00
133341,1,10332878,43,-1,5468.047126,0,-1,0,0,0.00,1.00,0.0,0.00
140677,1,10471001,other,-3,24045.467476,0,0,-3,0,0.00,0.00,1.0,0.00
141416,1,10212951,37,-1,7983.015026,-1,0,0,0,1.00,0.00,0.0,0.00
145352,1,10426263,10,-2,11425.026005,0,0,0,-2,0.00,0.00,0.0,1.00
148171,1,10303722,43,-1,21346.615752,0,0,0,-1,0.00,0.00,0.0,1.00
149277,1,10489286,10,-1,10792.159996,0,-1,0,0,0.00,1.00,0.0,0.00
161655,1,10017950,6,-1,5027.737383,0,-1,0,0,0.00,1.00,0.0,0.00
163149,1,10078477,19,-1,8275.363098,0,-1,0,0,0.00,1.00,0.0,0.00
177769,1,10403326,6,-1,7219.474005,-1,0,0,0,1.00,0.00,0.0,0.00
201613,1,10445951,9,-1,3963.382166,0,-1,0,0,0.00,1.00,0.0,0.00
221115,1,10272909,37,-2,19340.819235,-2,0,0,0,1.00,0.00,0.0,0.00
226178,1,10253656,21,-1,7185.424008,-1,0,0,0,1.00,0.00,0.0,0.00
226416,1,10371696,21,-1,15549.059010,-1,0,0,0,1.00,0.00,0.0,0.00
237545,1,10001208,10,-1,2003.413324,0,0,0,-1,0.00,0.00,0.0,1.00
262867,1,10481270,40,-1,10163.188128,0,0,-1,0,0.00,0.00,1.0,0.00
263718,1,10318398,9,-1,3346.017227,0,-1,0,0,0.00,1.00,0.0,0.00
268379,1,10368723,21,-2,19295.057122,-2,0,0,0,1.00,0.00,0.0,0.00
275703,1,10096280,43,-1,17110.983181,0,-1,0,0,0.00,1.00,0.0,0.00
286036,1,10128626,40,-1,10743.802799,0,0,-1,0,0.00,0.00,1.0,0.00
288358,1,10398267,43,-2,21471.301427,0,-3,0,1,0.00,0.84,0.0,0.16